{% extends 'main/layout.html' %}

{% block title %}
    {% block name %}
        <title>Sale create</title>
    {% endblock %}
{% endblock %}

{% block content %}
    {% block heading %}
        <h1>Додавання продажу</h1>
    {% endblock %}
    <form method="post">
        {% csrf_token %}
        <label>Введіть id співробітника в базі даних:</label>
        {{ form.employee }}<br>
        <label>Введіть id книги в базі даних:</label>
        {{ form.book }}<br>
        <label>Введіть дату продажу:</label>
        {{ form.date }}<br>
        <label>Введіть реальну ціну продажу:</label>
        {{ form.real_selling_price }}<br>
        <button type="submit">Зберегти</button><br><br>
    </form>

{% block back %}
    <a href="{% url 'show_sales' %}">Назад</a>
{% endblock %}
{% endblock %}